.formCom {
    height: 90px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 0% 5%;
}

.group {
    width: 100% !important;
}
.contentDiv {
    width: 80%;
}

.input {
    height: 40px;
    font-size: 14px ;
}

.label {
    font-size: 14px !important;
}

.icon {
    margin-left: 100%;
    font-size: 18px;
}

.icon:hover {
    color: var(--color3)
}