.formCom {
    height: 100px !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 5%;
}

.group {
    width: 100% !important;
}
.contentDiv {
    width: 80%;
}

.input {
    height: 50px;
}

.icon {
    margin-left: 100%;
    font-size: 18px;
}