.imgProfil {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.divAuthor {
    margin-left: 5%;
} 

.author {
    font-weight: bold;
    cursor: pointer;
}

.datePost {
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    padding-top: 5%;
    color: var(--color4);
}

@media screen and (min-width: 576px) {
    .imgProfil {
        width: 80px;
        height: 80px;
    }

    .author {
        font-size: 18px;
    }

    .datePost {
        font-size: 14px;
        padding-top: 10%;
    }
}