.section {
  height: 100vh;
  display: flex;
   justify-content: center;
  align-items: center;
}

.btn1 {
  width: 100%;
  padding: 5% 0;
  font-size: 20px;
  border-top-left-radius: 15px;
}
.btn2 {
  width: 100%;
  padding: 5% 0;
  font-size: 20px;
  border-top-right-radius: 15px;
}

.btnSignUp {
  border-top-left-radius: 15px;
}

.btnSignIn {
  border-top-right-radius: 15px;
}

.isClick {
  background-color: white;
}

.isClickOtherFalse {
  border-left: 1px solid var(--color5);
  border-bottom: 1px solid var(--color5);
  background-color: var(--colorModal) !important;
}
.isClickOtherTrue {
  border-right: 1px solid var(--color5);
  border-bottom: 1px solid var(--color5); 
  background-color: var(--colorModal) !important;
}

.modalConnexion {
  background-color: var(--colorWhite);  
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 0 5px 0 var(--color5) ;
}

.divBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.formConnexion {
  height: 100%;
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 576px) {
    .modalConnexion {
      width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .modalConnexion {
      width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .modalConnexion {
      width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    .modalConnexion {
      width: 30%;
    }
}
@media screen and (min-width: 1400px) {
    .modalConnexion {
      width: 25%;
    }
}