.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
  width: 100%;
  padding: 5% 0;
  font-size: 20px;
  border-top-left-radius: 15px;
}
.btn2 {
  width: 100%;
  padding: 5% 0;
  font-size: 20px;
  border-top-right-radius: 15px;
}

.btnSignUp {
  border-top-left-radius: 15px;
}

.btnSignIn {
  border-top-right-radius: 15px;
}

.isClick {
  background-color: white;
}

.isClickOtherFalse {
  border-left: 1px solid var(--color5);
  border-bottom: 1px solid var(--color5);
}
.isClickOtherTrue {
  border-right: 1px solid var(--color5);
  border-bottom: var(--color5); 
}

.modalConnexion {
  background-color: var(--colorWhite);
  height: 80%;
  width: 80%;
  border-radius: 15px;
}

.divBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
