/* .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10% 3%;
  background-color: white;
  border-radius: 15px;
}

.div {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
}
   */
