.friendsSection {
    width: 90%;
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
}

.btnFriends {
    background-color: var(--color3);
    width: 40%;
    padding: 5% 0;
    border-radius: 15px;
}

.btnActive {
    background-color: var(--color2);
    box-shadow: 0 0 3px 0 black;
    font-weight: bold;
    pointer-events: none;
}

@media screen and (min-width: 768px) {
    .friendsSection {
        margin: 2% auto;
        width: 60%;
    }

    .cardSection {
        margin: 2% auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        gap: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .friendsSection {
        width: 40%;
    }

    .cardSection {
        margin: 2% auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        gap: 30px;
    }
}