.authorCom {
    display: flex;
}

.content {
    padding: 5% 0 2% 0;
}

.divCom {
    position: relative;
}

.button {
    position: absolute;
    right: 5%;
    top: 5%;
}

.icon {
    font-size: 14px;
}

.divTools {
    background-color: var(--color3);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    right: 6%;
    top: 20%;
    z-index: 3;
    padding: 2% 5%;
    border-radius: 10px;
    border: 1px solid var(--colorBlack);
}

.divTools button {
    display: flex;
    width: 100%;
}

.divTools span {
    text-align: center;
    padding-left: 5%;
    font-size: 14px;
}

@media screen and (min-width: 768px) {

}