.imgPost {
    width: 50%;
    margin-top: 5%;
}

.divImgPost {
    text-align: center;
}

.formPost {
    height: 100px !important;
    justify-content: space-between !important;
    flex-direction: row !important;
}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.inputFile {
    display: none;
}

.icon {
    font-size: 20px;
}

.btnImg {
    margin-left: 10%;
}


@media screen and (min-width: 1400px) {
    .imgPost {
        width: 40%;
    }
}