:root {
  --color1: #B8CBD0;
  --color2: #C9E3CC;
  --color3: #B0B9A8;
  --color4: #606C5A;
  --color5: #424340;
  --colorWhite: white;
  --colorError: red;
  --colorBlack: black;
  --colorModal: #4243401a;
  --colorValid: green;
}

@font-face {
  font-family: "font-text";
  src: url(../Assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "font-title";
  src: url(../Assets/font/Merriweather-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "font-text";
  font-size: 16px;
}

body {
  background: var(--color1);
}
/* Title */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "font-title";
  font-size: 24px;
}
/* ------------------- */
/* Message */
.messageValid {
  color: var(--colorValid);
  font-weight: bold;
  letter-spacing: 1.3px;
}

.messageError {
  color: var(--colorError);
  font-size: 12px;
  padding-top: 3%;
}
/* ------------------- */
/* Link */
a {
  text-decoration: none;
  color: var(--colorBlack);
}
/* ------------------- */
/*  ul / li */
li {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
/* ------------------- */
/* Button */
button {
  border: none;
  cursor: pointer;
  background: none;
}

.btnValid {
  padding: 5% 15%;
  border-radius: 15px;
  background-color: var(--color2);
}
/* ------------------- */
/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
}

.form-group {
  position: relative;
  width: 80%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color4);
  border-radius: 4px;
  outline: none;
  resize: none;
}

.bad-input {
  border: 1px solid var(--colorError) !important;
}

.bad-input-icon {
  color: var(--colorError);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: transparent;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 12px;
  color: var(--color4);
  transition: all 0.2s ease;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -20px;
  left: 10px;
  color: var(--colorBlack);
}

.form-group input:valid + label,
.form-group textarea:valid + label {
  top: -20px;
  left: 10px;
  color: var(--colorBlack);
}

select {
  padding: 5px 0;
  border: 1px solid var(--color4);
  border-radius: 4px;
}
/* ------------------- */
/* Header */
header {
  background-color: var(--colorWhite);
  display: flex;
  justify-content: space-between;
}

header img {
  width: 40%;
}

header button {
  margin-right: 8%;
  z-index: 3;
}

.iconHeader {
  font-size: 24px;
}
/* ------------------- */
/* NavBar */
.navDisplay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--colorWhite);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transform: translateY(-100%);
  animation: animationDisplayNavBar 1s forwards;
}
@keyframes animationDisplayNavBar {
  to {
    transform: translateY(0%);
  }
}

.navHide {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--colorWhite);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  animation: animationHideNavBar 1s forwards;
}
@keyframes animationHideNavBar {
  to {
    transform: translateY(-100%);
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

nav ul li {
  font-size: 26px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .navDisplay {
    position: initial;
    z-index: 1;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    animation: none;
    transform: none;
    margin-right: 3%;
  }

  .a {
    font-size: 30px;
    cursor: pointer;
  }

  .a:hover {
    color: var(--color3);
  }
}
/* ------------------- */