:root {
  --color1: #B8CBD0;
  --color2: #C9E3CC;
  --color3: #B0B9A8;
  --color4: #606C5A;
  --color5: #424340;
  --colorWhite: white;
  --colorError: red;
  --colorBlack: black;
  --colorModal: #4243401a;
}

@font-face {
  font-family: "font-text";
  src: url(../Assets/font/Roboto-Regular.ttf);
}

@font-face {
  font-family: "font-title";
  src: url(../Assets/font/Merriweather-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "font-text";
  font-size: 16px;
}

body {
  background: var(--color1);
}
/* Title */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "font-title";
  font-size: 24px;
}

.messageError {
  color: var(--colorError);
  font-size: 12px;
  padding-top: 3%;
}
/* ------------------- */
/* Link */
a {
  text-decoration: none;
  color: var(--colorBlack);
}
/* ------------------- */
/* Button */
button {
  border: none;
  cursor: pointer;
  background: none;
}

.btnValid {
  padding: 5% 15%;
  border-radius: 15px;
  background-color: var(--color2);
}
/* ------------------- */
/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
}

.form-group {
  position: relative;
  /* margin: 12% 3%; */
  width: 80%;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color4);
  border-radius: 4px;
  outline: none;
}

.form-group input::placeholder {
  color: transparent;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 12px;
  color: var(--color4);
  transition: all 0.2s ease;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -20px;
  left: 10px;
  color: var(--colorBlack);
}

.form-group input:valid + label {
  top: -20px;
  left: 10px;
  color: var(--colorBlack);
}
/* ------------------- */