.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.formCreate {
    background-color: var(--colorWhite);  
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 var(--color5) ;
}

.form {
    height: 500px !important;
}

.btnNextForm {
   margin-bottom: 5%;
   width: 90%;
   display: flex;
   justify-content: flex-end;
}

.icon {
    font-size: 24px;
}