.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.formCreate {
    background-color: var(--colorWhite);  
    width: 80%;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 var(--color5) ;
}

.form {
    height: 500px !important;
}

.btnNextForm {
   margin-bottom: 5%;
   width: 90%;
   display: flex;
   justify-content: flex-end;
}

.icon {
    font-size: 24px;
}

@media (min-width: 576px) {
    .formCreate {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .formCreate {
        width: 40%;
    }
}

@media (min-width: 992px) {
    .formCreate {
        width: 30%;
    }
}

@media (min-width: 1200px) {
    .formCreate {
        width: 30%;
    }
}

@media (min-width: 1400px) {
    .formCreate {
        width: 25%;
    }
}