.imgProfil {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.divAuthor {
    margin-left: 5%;
} 

.author {
    font-weight: bold;
    font-size: 14px;
}

.datePost {
    font-size: 10px;
    font-weight: lighter;
    font-style: italic;
    padding-top: 5%;
    color: var(--color4);
}

@media screen and (min-width: 768px) {
    .imgProfil {
        width: 50px;
        height: 50px;
    }

    .author {
        font-size: 15px;
    }

    .datePost {
        font-size: 11px;
    }
}

@media screen and (min-width: 992px) {
    .divAuthor {
        margin-left: 3%;
    } 
}