.sectionProfil {
    height: 250px;
    margin: 4% 0;
    background-color: var(--colorWhite);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divImg {
    position: relative;
    display: flex;
    height: 70%;
    align-items: end;
    padding: 3%;
    flex-grow: 1;
}

.imgBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.imgProfil {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.divInfo {
    margin-left: 8%;
    padding: 2%;
    border-radius: 15px;
    background: #ffffffbf;
}

.divInfo p {
    font-size: 14px;  
    font-style: italic;
}

.divContent {
    padding: 3%;
    flex-grow: 5;
    display: flex;
    align-items: center;
}

.divContent h2 {
    font-size: 16px;
}

.divContent span {
    font-weight: lighter;
    font-size: 14px;
}

.iconTools {
    position: absolute;
    top: 0;
}