.sectionProfil {
    height: 250px;
    margin: 4% 0;
    background-color: var(--colorWhite);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divImg {
    position: relative;
    display: flex;
    height: 70%;
    align-items: end;
    padding: 3%;
    flex-grow: 1;
}

.imgBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.imgProfil {
    z-index: 1;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.divInfo {
    z-index: 0;
    margin-left: 8%;
    padding: 2%;
    border-radius: 15px;
    background: #ffffffbf;
}

.divInfo p {
    font-size: 14px;  
    font-style: italic;
}

.divContent {
    padding: 3%;
    flex-grow: 5;
    display: flex;
    align-items: center;
}

.divContent h2 {
    font-size: 16px;
}

.divContent span {
    font-weight: lighter;
    font-size: 14px;
}

.btnTools {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1;
   
}

.iconSetting {
    padding: 20%;
    background-color: var(--colorWhite);
    border-radius: 50%;
    font-size: 20px;    
}

@media screen and (min-width: 576px) {
    .divImg {
        padding: 3% 6%;
    }

    .divContent {
        padding: 3% 6%;
    }
} 

@media screen and (min-width: 768px) {
    .sectionProfil {
        height: 300px;
    }
} 

@media screen and (min-width: 992px) {
    .imgProfil {
        height: 130px;
        width: 130px;
    }

    .sectionProfil {
        height: 320px;
        margin: 0;
    }
} 

@media screen and (min-width: 1200px) {
    .divInfo {
        margin-left: 3%;
    }
    .sectionProfil {
        height: 380px;
        width: 90%;
        margin: 0 auto;
        border-radius: 0 0 15px 15px;
    }
} 

@media screen and (min-width: 1400px) {
    .divInfo {
        margin-left: 3%;
    }
    .sectionProfil {
        height: 400px;
        width: 80%;
    }
} 