.inputFile {
    display: none;
}

.formPost {
    flex-direction: row !important;
    width: 100%;
    height: 80% !important;
    justify-content: space-around !important;
}

.sectionPost {
    background-color: var(--colorWhite);
    width: 90%;
    height: 125px;
    margin: 10% auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px 0 black;
}


.group {
    width: 90% !important;
}

.postDiv {
    display: flex;
}

.contentDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.icon {
    font-size: 20px;
}
@media screen and (min-width: 576px) {
    .sectionPost {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .sectionPost {
        margin: 5% auto;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
   .icon {
        font-size: 22px;
   }
   .sectionPost {
        width: 60%;
}
}

@media screen and (min-width: 1200px) {
    .sectionPost {
        width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    .sectionPost {
        margin: 5% auto;
        max-width: 700px;
    }

    .icon:hover {
        color: var(--color3);
        cursor: pointer;
    }
}